<div class="blog-preview">
  <h3><a href="/blog/${blogs[i].id}">${blogs[i].title}</a></h3>
  <p>By ${blogs[i].User.username} on ${blogs[i].createdAt}</p>
  <p>${blogs[i].content}</p>
  <a href="/blog/${blogs[i].id}" class="btn-primary">Read More</a>

  <form action="/blog/${blogs[i].id}/comments" method="POST">
    <div class="form-group">
      <label for="comment-text">Add a comment:</label>
      <textarea class="form-control" id="comment-text" name="text" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>